
.container {
    width: 100%;

 }
body{

	background: url("/assets/dreamstime_xxl_26738938.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	
}

.radius, .name {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.nano { 
	/*background-image: url('/assets/f.jpg');*/
 width: auto; height: 500px; }
.nano .content{ padding: 10px; }
.nano .pane { background: #888; }
.nano .slider { background: #111; }

